html {
  scroll-behavior: smooth;
}

.max-width{
  max-width: screen;
  padding: 0 80px;
  margin: auto;
}

/*--NAVIGATION MENU--*/
.navbar{
    width: 100%;
    height: auto;
    position: fixed;
    padding: 30px 0;
    margin: 20px 0;
    z-index: 999;
    transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 20px 0;
  left: 0;
  background: #5756586b;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo{
    flex-basis: 20%;
}
.navbar .logo img{
    width: 150px;
    height: 150px;
}
.navbar .nav-links{
    flex: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
}
.navbar .nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar .nav-links ul li a{
    color: rgb(41, 20, 20);
    text-decoration: none;
}

/*--HOME SCREEN--*/
body .home{
  display: flex;
  background: url("https://cdn.glitch.global/65bd84b8-6829-4701-9157-6be80ce8c23b/1657858.jpg?v=1650512863754") no-repeat center;
  background-size: cover;
  margin: -8px;
  height: 103vh;
  color: #FCF5E5;
  min-height: 500px; 
}
/*.information{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translate(-50);
}
.circle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translate(-50);
}*/