/* Custom Font Import */
@font-face {
  font-family: "Helvetica Neue";
  src: url('./assets/fonts/helvetica-neu.ttf') format('ttf');
}

@font-face {
  font-family: "La Belle Aurore";
  src: url('./assets/fonts/LaBelleAurore.woff2') format('woff2');
}

@font-face {
  font-family: "Coolvetica";
  src: url('./assets/fonts/CoolveticaRg-Regular.woff2') format('woff2');
}

@font-face {
  font-family: "Sears Tower";
  src: url('./assets/fonts/Sears_Tower.woff2') format('woff2');
}

@font-face {
  font-family: "Super Elite";
  src: url('./assets/fonts/SpecialElite-Regular.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding: 75px;
}

body{
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Roboto', sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}
.social-icon {
  display: inline-block;
  margin-left: 14px;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(255, 116, 2, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a .ficon{
width: 40%;
z-index: 1;
transition: 0.3s ease-in-out;
}
.social-icon a:hover .ficon {
filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

/************ Banner Css ************/
.banner{
  margin-top: 0;
  padding: 230px 0 100px 0;
  background-image: url('./assets/images/Home-Background.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 95, 54, 0.5) -5.91%, rgba(189, 68, 47, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  border-radius: 20px;
  background-color: #0d0e0f73;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 25%);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(10px);
  padding: 5px 20px 39px;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Job Page Css */

.my-5.container{
  margin-top: 10rem!important;
}

.form-control{
  margin-bottom: 3rem;
}

.job-feed{
  margin-top: 0;
  padding: 5px;
  background-image: url('./assets/images/job_feed_2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.jobfeed-header-container{
  padding: 15px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: #f0a9192b;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 25%);
  backdrop-filter: blur(7px);
  font-variant: small-caps;
  font-weight:600;
}

.jobfeed-main-content{
  margin-top: 30px;
}

.job-feed .form-check{
  display:flex;
  align-items: center;
  flex-direction: column-reverse;
}

.job-feed .row .col-md-4 {
  width:39.333333%;
}

.job-feed .row > .col-md-4:nth-child(3){
  width:20%;
}

.stack-devski{
  /* margin-top: 0; */
  padding: 20px;
  background-image: url('./assets/images/forum_cover.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.job-feed .my-5.container, .stack-devski .my-5.container{
  padding: 50px;
  border-radius: 20px;
  background-color: #6c757d2b;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 25%);
  backdrop-filter: blur(7px);
  padding-bottom: 50px;
}

.stack-devski .form-control{
  width: 80%;
  margin: 0;
}

.stack-devski .form-div{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.stack-devski .my-5.container img{
  display: block; 
  margin: 0 auto; 
  width: 70%; 
  opacity: 0.75;
  margin-bottom: 2rem;
}

.stackdevski-createpost-page-content input#question.title, .stackdevski-createpost-page-content textarea{
  color: black;
  
}

.register-page-content, .login-page-content, .stackdevski-main-content, .jobfeed-createpost-page-content, .stackdevski-createpost-page-content{
  border-radius: 20px;
  background-color: #6c757d2b;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 25%);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  padding: 5px 20px 39px;
}

.stackdevski-main-content .row.row-cols-1.row-cols-md-3.g-4{
  margin-top: 1rem;
}

.stackdevski-main-content .h-100.card{
  color: #2c2b2b;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
/* .stack-devski .my-5.container .stackdevski-card-container{
  display: none;
} */

.stack-devski .mb-3.nav{
  margin-top: 2rem;
  background-color:rgb(1 0 0 / 78%);
  opacity: 0.75;
  border-bottom: transparent;
  margin-bottom: 0!important;
}

.stack-devski .mb-3.nav .nav-link{
  color:rgba(253, 194, 85, 0.863);
}

.stack-devski .mb-3.nav .nav-link.active{
  background-color:rgba(210, 210, 210, 0.78);
  color: black;
  opacity: 0.75;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 25%);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}

.stack-devski .mb-3.nav .nav-link:hover, .stack-devski .mb-3.nav .nav-link:focus{
  background-color:rgba(210, 210, 210, 0.78);
  border-color: rgba(210, 210, 210, 0.78);
  color: black;
  opacity: 0.75;
}

.tab-content{
  background-color: rgb(251 251 251 / 35%);
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 25%);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  padding: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


.alert-warning{
  --bs-alert-color: #0f0f0e;
  --bs-alert-bg: #de9f5aab;
  --bs-alert-border-color: #ffecb5;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-variant: petite-caps;
  font-size: 22px;
}

.stackdevski-home-icon{
  font-size: 55px;
  margin-bottom: 16px;
}

.stackdevski-most-asked .stackdevski-stackoverflow, .stackdevski-most-asked .stackdevski-codereview, .stackdevski-most-asked .stackdevski-webmasters{
  margin-top: 5px;
  border-radius: 20px;
  background-color: #14141499;;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 25%);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  padding: 10px 25px 25px;
}

.stackdevski-most-asked .h-100.card{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.stackdevski-faq-modal.modal, .stackdevski-search-modal.modal{
  z-index: 9999;
  color:#282c34;
  --bs-modal-width: 1092px;
}

.stackdevski-search-modal.modal .btn-close, .stackdevski-faq-modal.modal .btn-close{
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    color: #000;
    border: 0;
    border-radius: 0.375rem;
    opacity: .5;
    float: right;
}

.stackdevski-search-modal.modal small, .stackdevski-faq-modal.modal small{
  font-size: 15px;
}

.mb-3{
  color: black;
}

.card-body div a{
  color: orange;
}

.card-body button{
  background-color: orange;
  border-color: #121212;
  color:#121212;
}

.card-body button:hover{
  background-color: rgba(253, 194, 85, 0.863);
  border-color: rgba(253, 194, 85, 0.863);
}
/* .job-feed{
  margin-top: 0;
  padding: 180px 0 100px 0;
  background-color: #414141;
  height: 100%;
}
.jobs-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.Card {
  backdrop-filter: blur(2px);
  border: 1px solid rgba(153, 153, 153, 0.497);
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  margin-bottom: 25px;
  width: 400px;
  text-align: center;
} */

.login-page, .register-page{
  padding: 190px;
  background-image: url('./assets/images/mac1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
}

.login-page .my-5.container, .register-page .my-5.container{
  margin-top: 0!important;
}

.login-page-content, .register-page-content{
  color:#0f0f0e;
  font-weight: 700;
}

.contact .contact-content .column.left.right{
  width: calc(50% - 30px);
}
.contact .contact-content .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p{
  text-align: justify;
}
.contact .contact-content .left .icons{
  margin: 10px 0;
}
.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info{
  margin-left: 30px;
}
.contact .contact-content .row i{
  font-size: 25px;
  color: #f37f51;
}
.contact .contact-content .info .head{
  font-weight: 500;
}
.contact .contact-content .info .sub-title{
  color: #333;
}
.contact .right form .fields{
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea{
  height: 80px;
  width: 100%;
}
.contact .right form .name{
  margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
padding-top: 10px;
resize: none;
}
.contact .right form .button-area{
display: flex;
align-items: center;
}
.right form .button-area button{
color: #fff;
display: block;
width: 160px!important;
height: 45px;
outline: none;
font-size: 18px;
font-weight: 500;
border-radius: 6px;
cursor: pointer;
flex-wrap: nowrap;
background: #f37f51;
border: 2px solid #f37f51;
transition: all 0.3s ease;
}
.right form .button-area button:hover{
color: #f37f51;
background: none;
}